@font-face {
  font-family: "charter";
  src: url("../fonts/charter-regular.otf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "charter";
  src: url("../fonts/charter-italic.otf");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "charter";
  src: url("../fonts/charter-bold.otf");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "charter";
  src: url("../fonts/charter-bold-italic.otf");
  font-style: italic;
  font-weight: bold;
}

:root {
  font-size: 16px;
  /* font-family: charter; */
  font-family: "Roboto", system-ui, sans-serif;
  --gray30: #212121;
  --gray20: #212429;
  --gray10: #616161;
  --yellow: #fec62e;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--gray30);
  margin: 0;
}

a {
  color: var(--gray30);
}

header {
  font-size: 0.875em;
  width: 188px;
  color: var(--gray10);
  position: absolute;
  top: 64px;
  left: -232px;
}

header a {
  color: var(--gray10);
  text-decoration: none;
}

header a:hover {
  color: var(--gray30);
}

header li {
  margin-bottom: 16px;
}

nav details summary {
  font-weight: bold;
  line-height: 24px;
}

h1 {
  font-size: 3.75em;
  margin-top: 64px;
  margin-bottom: 16px;
  font-weight: normal;
}

hr {
  margin: 64px 0;
}

h2 {
  font-size: 2em;
  margin: 64px 0 40px;
  font-weight: normal;
}

h3 {
  font-size: 1.5em;
  margin-top: 16px;
  margin-bottom: 24px;
  font-weight: normal;
  top: 0;
  background: white;
}

pre {
  background: var(--yellow);
  padding: 40px;
  font-family: "Roboto", system-ui, sans-serif;
  line-height: 24px;
}

blockquote {
  font-size: 24px;
  margin: 32px 0;
  padding-left: 16px;
  border-left: 4px solid var(--gray30);
  line-height: 24px;
}

blockquote span {
  color: var(--gray10);
}

blockquote span::before {
  content: "- ";
}

.debug {
  /* box-shadow: inset 0 0 0 2px aqua; */
  outline: 2px solid aqua;
  /* background: aqua;
  border: 2px solid aqua;
  box-sizing: border-box; */
}

.header {
  position: sticky;
  top: 0;
}

.header-content {
  position: relative;
}

.wrapper {
  width: 902px;
  margin: auto;
}

.hero {
  background: var(--yellow);
  height: 350px;
  background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.3),
      transparent
    ),
    url("../images/patron.png");
}

.section-content {
  margin-bottom: 164px;
}

.section-content:first-of-type {
  margin: 0;
}

.section-content ol li {
  line-height: 24px;
}

.section-content ul li {
  margin-bottom: 16px;
}

.section-content + hr {
  display: none;
}

.section-content img {
  display: block;
  margin-top: 40px;
}

.section-content p {
  line-height: 24px;
}

.section-content {
  counter-reset: titleList;
}

.section-content h3 {
  display: inline-block;
  counter-increment: titleList;
  padding-bottom: 8px;
}

.section-content h3::before {
  content: counter(titleList, decimal) ". ";
}

.section-content h3::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--gray30);
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
}
