@font-face {
  font-family: "charter";
  src: url("../fonts/charter-regular.otf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "charter";
  src: url("../fonts/charter-italic.otf");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "charter";
  src: url("../fonts/charter-bold.otf");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "charter";
  src: url("../fonts/charter-bold-italic.otf");
  font-style: italic;
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
}

:root {
  font-size: 16px;
  line-height: 24px;
  --white: #ffffff;
  --black: #000000;

  /* styles-a.css */
  --yellow: #fec62e;
  --gray30: #212121;
  --gray25: #212429;
  --gray20: #424242;
  --gray10: #616161;
  --gray5: #808080;

  /* styles-b.css */
  --background: #251f24;
  --button: #157efb;
  --white30: var(--white);
  --white20: #a5a3a5;
  --white10: #3a3539;
}

body {
  font-family: charter;
  margin: 0;
}

.debug {
  box-shadow: inset 0 0 0 2px red;

  /* outline: 2px solid red; */
  /* box-shadow: 0 0 0 2px red; */

  /* border: 1px solid red !important; */
  /* box-sizing: border-box; */

  /* background: red; */
}
