@font-face {
  font-family: "charter";
  src: url("../fonts/charter-regular.otf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "charter";
  src: url("../fonts/charter-italic.otf");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "charter";
  src: url("../fonts/charter-bold.otf");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "charter";
  src: url("../fonts/charter-bold-italic.otf");
  font-style: italic;
  font-weight: bold;
}

:root {
  font-size: 17px;
  /* font-family: charter; */
  font-family: "Nunito", system-ui, sans-serif;
  --background: #251f24;
  --black: #000000;
  --button: #157efb;
  --white30: white;
  --white20: #a5a3a5;
  --white10: #3a3539;
}

body {
  color: var(--white30);
  background: var(--background);
  margin: 0;
}

a {
  color: var(--white30);
}

.header-content,
.aside-content {
  padding-inline: 20px;
}

.header-content h6 {
  margin-block-start: 40px;
  margin-block-end: 24px;
}

header {
  margin-block-start: 20px;
  font-size: 0.875em;
  color: var(--white30);
}

header li {
  color: var(--white20);
  margin-block-end: 16px;
}

header a {
  color: var(--white20);
  text-decoration: none;
}

nav details summary {
  font-weight: bold;
}

header a:hover {
  color: var(--white30);
}

h1 {
  font-size: 24px;
  font-weight: 400;
  margin-block-start: 20px;
  margin-block-end: 16px;
}

h2 {
  font-size: 24px;
  font-weight: 400;
  margin-block: 40px;
}

h3 {
  font-size: 20px;
  font-weight: 400;
  margin-block: 16px;
}

h6 {
  font-size: 14px;
  font-weight: 700;
}

aside h6 {
  margin-block: 16px;
}

aside ul {
  padding-inline: 0;
  margin-block: 0;
}

aside li {
  list-style: none;
  color: var(--white20);
  padding: 8px;
}

aside .active {
  background: var(--black);
  border-radius: 4px;
}

aside .active a {
  color: var(--white30);
}

aside a {
  color: var(--white20);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

aside a:hover {
  color: var(--white30);
}

hr {
  margin-block: 40px;
  border-color: rgba(97, 97, 97, 0.2);
}

pre {
  background: var(--white10);
  padding: 40px;
  overflow: auto;
  /* border: 10px solid #5551ff; */
  /* box-shadow: -10px 10px 0 0 #abaaf6; */
  margin-block-end: 30px;
  border-start-start-radius: 8px;
  border-end-start-radius: 8px;
  border-start-end-radius: 8px;
  border-end-end-radius: 8px;
  font-size: 16px;
  font-weight: 700;
}

p {
  color: var(--white20);
  line-height: 24px;
}

blockquote {
  margin-block-start: 80px;
  margin-block-end: 63px;
  margin-inline: 0;
  background-color: var(--white10);
  border-radius: 8px;
  padding-inline-start: 24px;
  padding-inline-end: 24px;
  padding-block-start: 24px;
  padding-block-end: 24px;
}

blockquote p {
  color: var(--white30);
  font-weight: 700;
  line-height: 32px;
}

blockquote span::before {
  content: "- ";
}

footer {
  background: var(--white30);
  block-size: 174px;
  font-size: 32px;
  font-weight: 400;
}

footer p {
  color: var(--background);
  margin-block-start: 0;
  margin-block-end: 19px;
  line-height: 44px;
}

.hero {
  block-size: 50px;
  background: linear-gradient(96.07deg, #314755 30.63%, #26a0da 102.18%);
}

.section-content {
  counter-reset: titleList;
}

.section-content img {
  margin-block-start: 40px;
  display: block;
  max-inline-size: 100%;
}

.section-content h3 {
  counter-increment: titleList;
}

.section-content h3::before {
  content: counter(titleList, decimal) ". ";
}

.section-content + hr {
  display: none;
}

.section-content li {
  color: var(--white20);
  line-height: 24px;
}

.section-content ul li::marker {
  content: "•  ";
  color: var(--white30);
}

.wrapper {
  max-inline-size: 636px;
  margin: auto;
}

.main-content {
  padding-inline: 16px;
}

.slider-container {
  display: block;
  overflow: hidden;
  scroll-behavior: smooth;
  white-space: nowrap;
  font-size: 0;
}

.video {
  margin: 0;
  display: inline-block;
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

.slider-bullet-list {
  text-align: center;
  margin-block-start: 10px;
}

.slider-bullet {
  display: inline-block;
  inline-size: 15px;
  block-size: 15px;
  background: white;
  border-radius: 50%;
}

.form input {
  inline-size: 100%;
  border: 1px solid var(--white30);
  background: var(--background);
  box-sizing: border-box;
  border-radius: 8px;
  padding-inline: 16px;
  padding-block: 12px;
  color: var(--white30);
  font-size: 16px;
  display: block;
  margin-block-end: 24px;
}

.form input::placeholder {
  color: var(--white20);
}

.form input[type="submit"] {
  background: var(--button);
  border: none;
}

.footer-content {
  padding-block-start: 48px;
  text-align: center;
}

@media screen and (min-width: 1366px) {
  .hero {
    block-size: 350px;
  }

  .header {
    position: sticky;
    inset-block-start: -45px;
  }

  .aside-content {
    position: relative;
    inset-block-start: 64px;
    padding-inline: 0;
  }

  .header-content {
    position: relative;
    inset-block-start: 353px;
    padding-inline: 0;
  }

  aside {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: -330px;
    inline-size: 306px;
  }

  header {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: -330px;
    inline-size: 306px;
  }

  h1 {
    font-size: 64px;
    font-weight: 700;
    margin-block-start: 64px;
  }

  h2 {
    font-size: 40px;
    font-weight: 700;
  }

  h3 {
    font-size: 32px;
    font-weight: 600;
  }

  h6 {
    font-weight: 400;
  }

  blockquote p {
    font-size: 24px;
    font-weight: 400;
  }

  pre {
    font-weight: 400;
  }

  .main-content {
    padding-inline: 0;
  }
}
